body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: #73C8A9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Arial';
}

h1 {
    font-size: 5rem;
    font-weight: 2rem;
}

.brd {
    border: 7.5px solid pink;
    margin: 15%;
}

.cabecera ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}

li a:hover {
    font-size: 5rem;
}

.bg-s {
    background-color: lightgray;
}